.error-body {
  display: grid;
  margin: auto;
  justify-content: center;
  text-align: center;
  gap: 100px;
  margin-top: 120px;
}

.error-title {
  color: $color-1;
  font-size: clamp(96px, 16vw, 288px);
}

.oups {
  color: $color-1;
  font-size: clamp(18px, 1.8vw, 36px);
  font-weight: 500;
}

.link-accueil {
  text-decoration: underline;
  margin-bottom: 120px;
}
